@font-face{font-family:iconfont;display:swap;src:url(iconfont2907.woff2?t=1743402681911) format('woff2'),url(iconfont2907.woff?t=1743402681911) format('woff'),url(iconfont2907.ttf?t=1743402681911) format('truetype')}
.iconfont{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-wangzhi:before{content:"\e62d"}
.icon-teams:before{content:"\ec1b"}
.icon-snapchat:before{content:"\e7aa"}
.icon-tishi-:before{content:"\e60c"}
.icon-duicu:before{content:"\e66e"}
.icon-fax-fill:before{content:"\e620"}
.icon-adress:before{content:"\e603"}
.icon-address:before{content:"\ecb2"}
.icon-category:before{content:"\e630"}
.icon-jidishengchan:before{content:"\e60a"}
.icon-jishuzhichi:before{content:"\e624"}
.icon-a-08zhiliang-xianxing:before{content:"\e6ed"}
.icon-a-dingzhi1:before{content:"\e670"}
.icon-gengduo:before{content:"\e609"}
.icon-date:before{content:"\e697"}
.icon-view:before{content:"\ecb1"}
.icon-share:before{content:"\e6f3"}
.icon-earth:before{content:"\e65a"}
.icon-phone:before{content:"\e601"}
.icon-cart:before{content:"\e600"}
.icon-email:before{content:"\e638"}
.icon-vkontakte:before{content:"\e863"}
.icon-weixin:before{content:"\e66b"}
.icon-facebook:before{content:"\e6e6"}
.icon-instagram:before{content:"\e639"}
.icon-pinterest:before{content:"\e640"}
.icon-tel:before{content:"\e642"}
.icon-whatsapp1:before{content:"\e69f"}
.icon-duigou:before{content:"\ebe6"}
.icon-message:before{content:"\e78a"}
.icon-adress1:before{content:"\e608"}
.icon-googleplus:before{content:"\e87a"}
.icon-skype:before{content:"\e87d"}
.icon-QQ:before{content:"\e882"}
.icon-left-arrow:before{content:"\e604"}
.icon-close:before{content:"\eaf2"}
.icon-name:before{content:"\e74c"}
.icon-linkedin:before{content:"\e62f"}
.icon-search:before{content:"\e6e1"}
.icon-fax:before{content:"\e602"}
.icon-whatsapp:before{content:"\e97b"}
.icon-videoplay:before{content:"\e68c"}
.icon-arrow-down:before{content:"\e666"}
.icon-download:before{content:"\e66c"}
.icon-email1:before{content:"\e66f"}
.icon-home:before{content:"\e674"}
.icon-telephone:before{content:"\e680"}
.icon-tiktok:before{content:"\ec26"}
.icon-youtube:before{content:"\ec32"}
.icon-vkontakte1:before{content:"\e741"}
.icon-left1:before{content:"\e83d"}
.icon-right1:before{content:"\e840"}
.icon-twitter:before{content:"\e66a"}
.icon-right-arrow:before{content:"\eaf3"}
.icon-home1:before{content:"\eaf5"}
